@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85608851');
  src: url('../font/fontello.eot?85608851#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85608851') format('woff'),
       url('../font/fontello.ttf?85608851') format('truetype'),
       url('../font/fontello.svg?85608851#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47A3DA;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

h2 { font-size: 32px; }

h3 { font-size: 24px; }

.wrapper {
	margin: 76px auto;
	padding: 20px;
	width: 90%;
	border: 3px solid #47A3DA;
	max-width: 1044px;
}

.title {
	border-bottom: 3px solid #47A3DA;
	margin: 0;
	padding-bottom: 20px;
}

.ba-drink {
	text-align: center;
	margin: 45px 0 25px;
}

.ba-drink__link:hover ~ .ba-drink__btn-add {
	background: #02639D;
}

.ba-drink__title {
	margin: 0;
}

.ba-drink__price {
	color: #C0C0C0;
	margin: 10px 0;
	font-size: 24px;
}

.ba-drink__text {
	min-height: 70px;
	margin: 0;
	padding: 0px 25px;
}

.ba-drink__btn-add {
	display: inline-block;
    color: #FFF;
    background: #47A3DA;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    text-decoration: none;
}

.ba-drink__btn-add:hover {
	background: #02639D;
}

.ba-drink__btn-add:before {
	content: '\e801';
	font-family: 'fontello';
	margin-right: 5px;
}

@media screen and (max-width: 900px) {
	.ba-drink {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.ba-drink {
		width: 100%;
	}
}

